 *{
  margin: 0;
  padding: 0;
  box-sizing: 0;
 }


#box1{
  height: 200px;
  width: 201px;
  background-color: crimson;
  border: 2px solid black;
 

  
}
#box2{
 height: 200px;
 width: 200px;
 background-color: royalblue;
 border: 2px solid black;
}



